
.dashboard-content{
    /* height: calc(100vh - 65px);
    overflow-x: scroll;
    margin-bottom: 20px; */
    margin-top: 0px;
}
.signin-details{
    padding: 10px;
    border-radius: 15px;
    background-color: var(--sidebar-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--text-color);
    margin-top: 0px;
    max-width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    width:  calc(100vw - 40px);
}
.signin-details .general-data{
    padding: 10px;
    border-radius: 10px;
    background-color: var(--primary-color-light);
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.signin-details .general-data div{
    
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    
}
.signin-details input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
    border: none;
}
.signin-details a{
    padding: 10px;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
}
.signin-details a:hover{
    background-color: var(--toggle-color);
}
.signin-details a:active{
    background-color: var(--primary-color);
}
.extend{
    flex-direction: column !important;
}
